<div class="ibox-content">
     <% if @fees.receipts.present? %>
          <table class="table table-striped">
               <thead>
                    <tr>
                         <th>RCT No.</th>
                         <th>RCT Date</th>
                         <th>Amount</th>
                         <th></th>
                    </tr>
               </thead>
               <tbody>
                    <% @fees.receipts.order(created_at: :desc).each do |receipt| %>
                         <tr>
                              <td>RCT-<%= receipt.id %></td>
                              <td><%= receipt.created_at.strftime("%d-%b-%y %I:%M%P") %></td>
                              <td><%= receipt.amount %></td>
                              <td>
                                   <%= link_to receipt_path(receipt), class: "btn btn-white btn-bitbucket" do %>
                                        <i class="fa fa-print"></i>
                                   <% end %> 
                              </td>
                         </tr>
                    <% end %>
               </tbody>
          </table>
     <% else %>
          <div class="alert alert-warning">
               There is no payment generated for this student yet.
          </div>
     <% end %>
</div> 