<div class="row wrapper border-bottom white-bg page-heading">
     <div class="col-lg-10">
          <h2>Transportation Fees</h2>
          <ol class="breadcrumb">
               <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
               </li>
               <li class="breadcrumb-item">
                    <a>Fee</a>
               </li>
               <li class="breadcrumb-item active">
                    <strong>New Fee </strong>
               </li>
          </ol>
     </div>
</div>
<%= render 'form' %>
